/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 mars 2016, 15:25:31
    Author     : loknight
*/

/* General */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: url("../images/test2.jpg");
    background-position: center top;
    background-size: 100% auto;
    height: 200px;
}
header *{
    margin-left: 350px;
}