/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 mars 2016, 15:25:31
    Author     : loknight
*/

/* General */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url("font/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url("font/EsvMC5un3kjyUhB9ZEPPwg.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("font/UyBMtLsHKBKXelqf4x7VRQ.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("font/1YwB1sO8YE1Lyjf12WNiUA.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url("font/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url("font/H2DMvhDLycM56KNuAtbJYA.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: local("Lato Black"), local("Lato-Black"), url("font/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: local("Lato Black"), local("Lato-Black"), url("font/tI4j516nok_GrVf4dhunkg.woff2") format("woff2");
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    box-sizing: border-box;
}
html{
    background-color: #f3f3f3;
}
body{
    max-width: 1000px;
    border: 1px solid #eae9e7;
    margin: 10px auto;
    background: white
}
body>*{
}
header{
    background-image: url("../images/test2.jpg");
    background-position: center top;
    background-size: 100% auto;
    height: 175px;
    position: relative;
    background-repeat: no-repeat;
}
header>*{
    margin-left: 350px;
}
header #titre{
    color: #df020b;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
header #soustitre{
    font-size: 24px;
    font-weight: bold;
}
header #soustitre span{
    color: #df020b;
    font-size: 1.6rem;
}
header #soustitre span+span{
    margin-left: 5px;
}
hr{
    color: #df020b;
    margin: 0 5px;
}
.hide{
    display: none;
}

.clear{
    clear: both;
}

#main{
    border: 1px solid #666;
    border-left: 5px solid #df020b;
    padding: 10px 10px 20px 15px;
    margin: 15px;
}
#main table{
    border-collapse: collapse;
}
#main table th{
    background: rgba(212, 221, 228, 0.5) none repeat scroll 0 0;
    border: 1px solid #666;
    border-left: 2px solid #df020b;
    padding: 5px;
}
#main table td:first-child{
    width: 25%;
}
#main table td{
    border: 1px solid #666;
    border-left: 2px solid #df020b;
    padding: 5px;
}
#main p a{
    color: #df020b;
    font-size: 17px;
}
#main table td .separateur{
    color: #df020b;
}

#navigation nav{
    margin-top: 20px;
}

#navigation nav ul li{
    padding: 15px 10px 0;
    display: inline-block;
}

#navigation nav ul li a{
    margin: 0 10px;
    color: #000;
    border-bottom: #df020b solid medium;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#navigation nav ul li a:hover{
    color: #df020b;
}

#popup{
    display: none;
}
.ui-widget-header  {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #df020b 0%, #e00707 51%) repeat scroll 0 0;
    border: medium none #941818;
}
.ui-dialog .ui-dialog-title{
    color: #FFFFFF;
}

h1{
    margin-bottom:20px;
}

h2{
    margin-bottom:15px;
}

[role="tooltip"] {
    display: none;
    padding: 0.25em;
    margin: 0;
    border-style:solid;
    border-color: #df020b;
    color: #df020b;
    width: 100%;
}

input:focus + [role="tooltip"] {
	display: block;
	top: 100%;
}

#loader{
    width: 100%;
}
#loader img{
    margin: auto;
    display: block;
}

/* Connexion */

#loginOn{
    float: right;
    border-radius: 0 0 0 5px;
    background-color: #df020b;
    color: white;
    width: 200px;
    height: 30px;
    margin-left: 5px;
    padding: 5px 10px;
}

header #join,header #login, header #logout{
    border-radius: 0 0 5px 5px;
    float: right;
    background-color: #df020b;
    color: white;
    width: 110px;
    height: 30px;
    margin-left: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

#formConnexion ul{
    width: 100%;
}
#formConnexion ul li{
    list-style-type:none;
    padding: 10px;
    clear: both;
}
#formConnexion ul li input{
    float: right;
}
#formConnexion ul li #submit{
    margin: 0 55px;
    color: #FFFFFF;
    background-color: #e00707;
    border-radius: 20px;
    height: 33px;
    width: 220px;

}


/* Home */

#contenuHome {
    margin: 15px 30px 0 0;
}

#imgHomeSommaire{
    float: left;
    margin-bottom: 20px;
    margin-right: 30px;
}

#contenuHome .summary {
    float: right;
    margin-bottom: 20px;
    width: 60%;
}
#contenuHome .summary div {
    background-color: #df020b;
    color: #fff;
    font-weight: bold;
    padding: 6px 10px;
}
#contenuHome .summary ul {
    background-color: #EDD0D3;
    list-style-type: square;
    list-style-position: inside;
    padding: 8px 20px 20px 10px;
}
#contenuHome .summary ul li {
    margin: 0;
    padding: 0 0 5px;
}
#contenuHome .summary ul li a {
    color: #df020b;
    font-weight: bold;
    text-decoration: underline;
}

#contenuHome p{
    margin: 20px 0;
    padding: 0 0 0 15px;
    text-align:justify;
}

#contenuHome h2{
    border-bottom: #df020b solid medium;
    color: #333;
    font-size: 20px;
    margin: 20px 0 5px;
    padding: 0 0 5px;
    clear: both;
}

#contenuHome ul {
    list-style-type: square;
    padding-top: 1px;
}

#contenuHome li {
    margin: 5px 35px 10px 40px;
    padding: 0 0 0 5px;
}

.contenuImage1{
    float: right;
    margin-left: 10px;
    padding: 30px 0 8px 9px;
    width: 400px;
}
.contenuImage2{
    float: left;
    margin: 10px 20px 10px 0;
}
.contenuImage1 img{
    width: 100%;
}

/* Recherche */

select{
    width: 220px;
}

h2.listeh2 {
    border-bottom: #df020b solid medium;
    color: #333;
    font-size: 20px;
    margin: 20px 0 5px;
    padding: 0 0 5px;
    clear: both;
}
.moteur h2 {
    background-color: #df020b;
    color: #fff;
    font-weight: bold;
    padding: 6px 10px;
}
.moteur form {
    background-color: #EDD0D3;
    padding: 10px;
}
#contenuHome .summary ul li {
    margin: 0;
    padding: 0 0 5px;
}
#tableauPatho{
    width: 100%;
}

/* Footer */

footer{
    padding:5px 20px 20px 20px;
}


/* Page informations */

img.img-rounded{
    width:120px;
    height:120px;
    margin-bottom:10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

}

#auteurs{
    display: inline-block;
    font-weight:bold;
}

#auteurs ul li{
    margin:0px 20px 20px 40px;
    width:180px;
    padding: 15px 10px 0px 10px;
    display: inline-block;
    list-style:none;
}

#webographie{
    margin:0px 15px 15px 15px;
}

#webographie ul li{
    padding:5px 20px;
}


/* Media Queries */

@media print {
    header, footer, #imgHomeSommaire, .ui-dialog {
        display:none !important;
    }
    body {
        font-size:100%;
        color:black;
    }
}

@media screen and (max-width: 1000px){
    header{
        background-image:none;
        background-size: 100% auto;
        height: auto;
        position: relative;
        background-repeat: no-repeat;
        text-align: center;
    }
    header>*{
        margin-left: 0px;
        display: block;
        clear:both;
    }
    
    #navigation{
        padding-bottom: 8px;
    }
    #navigation img{
        display: none;
    }
    .contenuImage1{
            width:50%;
    height:50%;
    }
#contenuHome .summary {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
    #titre{
        display: block;
    }
    header #login, header #join,header #logout,header #loginOn{
        display:block;
        clear:both;
        width: 100%;
        border-radius: 5px 5px 5px 5px;
        margin: 1px;
    }

    #navigation nav ul li{
        padding: 15px 10px 0;
        display: block;
    }

    #navigation nav ul li a{
        margin: 0 10px;
        color: #000;
        border-bottom: #df020b solid medium;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    #navigation nav ul li a:hover{
        color: #df020b;
    }
    
    #imgHomeSommaire{
        display: none;
    }

}
